{% load filters %}
<div class="content_box" id="add_related_box">
    <div id="add_related" hidden></div>
    <h3 class='titleheader'>
        <span>Add Related</span>
    </h3>
    <div data-intro"Section for adding related Objects." data-position="bottom">
        <form id="add_related_form" method="post"> {% csrf_token %}
            <select id="add_related_options" onchange="populateList()">
                <option>Choose TLO</option>
                {% if acl.DATASET_WRITE|has_access_to:user %}
				  <option value='new-dataset'>Dataset</option>
                {% endif %}
                {% if acl.EMAILADDRESS_WRITE|has_access_to:user %}
				  <option value='new-email_address'>Email Address</option>
                {% endif %}
                {% if acl.EVENT_WRITE|has_access_to:user %}
                  <option value='new-event'>Event</option>
                {% endif %}
                {% if acl.HASH_WRITE|has_access_to:user %}
				  <option value='new-hash'>Hash</option>
                {% endif %}
                {% if acl.TARGET_WRITE|has_access_to:user %}
				  <option value='new-target'>Target</option>
                {% endif %}
                {% if acl.USERNAME_WRITE|has_access_to:user %}
				  <option value='new-username'>UserName</option>
                {% endif %}
            </select>
        </form>
    </div>
</div>


<script type="text/javascript">
    function populateList() {
        var selected_option = document.getElementById('add_related_options');
        var add_related_div = document.getElementById('add_related');
        add_related_div.setAttribute("dialog", selected_option.value);
        add_related_div.setAttribute("persona", "related");
        add_related_div.setAttribute("class", "dialogClick");
        add_related_div.click();

    }
</script>