<div id='items_jTable' class="tabnav" style="font-size: 90%;">
    <ul style="font-size: 125%;">
	    <li><a href="{% url 'cripts.core.views.items_listing' 'Action' 'inline' %}"
	        id="action_button"><span>Actions ({{ counts.Action }})</span></a></li>
        <li><a href="{% url 'cripts.core.views.items_listing' 'SourceAccess' 'inline' %}"
	        id="sourceaccess_button"><span>Sources ({{ counts.SourceAccess }})</span></a></li>
	    <li><a href="{% url 'cripts.core.views.items_listing' 'UserRole' 'inline' %}"
	        id="userrole_button"><span>User Roles ({{ counts.UserRole }})</span></a></li>
    </ul>
</div>