
    <div class="content_box relationship_box" id="relationship_box_container">
        <h3 class="titleheader">
                    {% if relationships %}
            <span class="collapsible">Relationships ({{ relationships.Count}})</span>
                    {% else %}
            <span>Relationships (0)</span>
                    {% endif %}
                        <span class="add_button" data-intro="Add a relationship" data-position="right">
                            <a style="display: inline-block;" href="#" title="Add Relationship" class="ui-icon ui-icon-person dialogClick" data-value="{{ relationship.value|escapejs }}" data-type="{{ relationship.type|escapejs }}" dialog="forge-relationship" id="forge-relationship"></a>
                        </span>
                        <span style="float: right;" class="ui-icon ui-icon-triangle-1-s collapsible"></span>
        </h3>
            {% if relationships %}
            <table class='chart relationship_listing collapser' id='relationship_listing'>
            <thead>
                <tr>
                    <th width="100px">Type</th>
                    <th>Details
                        <span style="float: right;width: 50px;" data-intro="More/ Delete/ View" data-position="top"></span>
                    </th>
                </tr>
          </thead>
            <tbody>
                    {% if relationships.Event %}
                        {% with rel_list=relationships.Event rel_type='Event' %}
                            {% include 'relationships_listing_row_widget.html' %}
                        {% endwith %}
                    {% endif %}
					{% if relationships.UserName %}
                        {% with rel_list=relationships.UserName rel_type='UserName' %}
                            {% include 'relationships_listing_row_widget.html' %}
                        {% endwith %}
                    {% endif %}
					{% if relationships.Target %}
                        {% with rel_list=relationships.Target rel_type='Target' %}
                            {% include 'relationships_listing_row_widget.html' %}
                        {% endwith %}
                    {% endif %}
					{% if relationships.Hash %}
                        {% with rel_list=relationships.Hash rel_type='Hash' %}
                            {% include 'relationships_listing_row_widget.html' %}
                        {% endwith %}
                    {% endif %}
					{% if relationships.Dataset %}
                        {% with rel_list=relationships.Dataset rel_type='Dataset' %}
                            {% include 'relationships_listing_row_widget.html' %}
                        {% endwith %}
                    {% endif %}
					{% if relationships.EmailAddress %}
                        {% with rel_list=relationships.EmailAddress rel_type='EmailAddress' %}
                            {% include 'relationships_listing_row_widget.html' %}
                        {% endwith %}
                    {% endif %}
                    {% if relationships.Other > 0 %}
                        <tr>
                            <td colspan="2" class="relationship_spacer"></td>
                        </tr>
                        <tr>
                            <td><b>Other ({{ relationships.Other }})</b></td>
                            <td></td>
                            <td></td>
                        </tr>
                    {% endif %}
            </tbody>
        </table>
            {% endif %}
    </div>
