

<tr class="comment_row">
    <td class="key">
    <a href="{% url 'cripts.comments.views.activity' 'byuser' comment.analyst %}">{{comment.analyst}}</a><br /> ({{comment.source.0.name}})
    </td>
    <td>
        <div class="comment_body">
            <span data-field="comment"> 
                {{ comment.comment|safe }}
            </span>
            {% if comment.url_key and not subscription %}
            <!-- link to the object page -->
            <span class="comment_button">
                {% with obj_type=comment.obj_type %}
					{% if obj_type == 'Dataset' %}
					<a href="{% url 'cripts.datasets.views.dataset_detail' comment.url_key %}" class="ui-icon ui-icon-arrowthick-1-e" title="View Dataset"></a>
					{% elif obj_type == 'EmailAddress' %}
					<a href="{% url 'cripts.email_addresses.views.email_address_detail' comment.url_key %}" class="ui-icon ui-icon-arrowthick-1-e" title="View Email Address"></a>
                    {% elif obj_type == 'Event' %}
                    <a href="{% url 'cripts.events.views.view_event' comment.url_key %}" class="ui-icon ui-icon-arrowthick-1-e" title="View Event"></a>
					{% elif obj_type == 'Hash' %}
					<a href="{% url 'cripts.hashes.views.hash_detail' comment.url_key %}" class="ui-icon ui-icon-arrowthick-1-e" title="View Hash"></a>
					{% elif obj_type == 'Target' %}
					<a href="{% url 'cripts.targets.views.target_detail' comment.url_key %}" class="ui-icon ui-icon-arrowthick-1-e" title="View Target"></a>
                    {% elif obj_type == 'UserName' %}
					<a href="{% url 'cripts.usernames.views.username_detail' comment.url_key %}" class="ui-icon ui-icon-arrowthick-1-e" title="View UserName"></a>
					{% endif %}
					
                {% endwith %}
            </span>
            {% endif %}
            {% if comment.analyst == user.username %}
            <span class="comment_button">
                <a href="#" title="Delete Comment" class="ui-icon ui-icon-close deleteClick" type="comment" action="{% url 'cripts.comments.views.remove_comment' comment.obj_id %}" key="{{comment.created}}">
                </a>
            </span>
            <span class="comment_button">
                <a href="#" title="Edit Comment" class="ui-icon ui-icon-pencil dialogClick" dialog="comments" persona="update" 
		   action="{% url 'cripts.comments.views.add_update_comment' 'update' comment.obj_type comment.obj_id %}">
                </a>
            </span>
            {% endif %}
            <span class="comment_button">
                <a href="#" title="Reply to Comment" class="ui-icon ui-icon-arrowreturnthick-1-w dialogClick" dialog="comments" persona="reply" replace="false" action="{% url 'cripts.comments.views.add_update_comment' 'reply' comment.obj_type comment.obj_id %}">
                </a>
            </span>
{% comment %}
                <!-- add some hidden cells so the data is available to the "reply" function -->
{% endcomment %}
		<span style="display:none">
		  <span data-field="parent_analyst">{{comment.analyst}}</span>
		  <span data-field="parent_date">{{comment.created}}</span>
		  <span data-field="url_key">{{comment.url_key}}</span>
		</span>
        </div>
            <div class="comment_info">
                    <span>Commented at: <b>{{comment.created}}</b>
                    {% if comment.edit_date != comment.created %}-- Edited: <b>{{comment.edit_date}}</b>
                    {% endif %}
                    </span>
                {% if comment.parent %}
                    <span class="comment_in_reply_to">
                    In reply to: <b>{{comment.parent.analyst}}</b> on <b>{{comment.parent.date}}</b>
                    </span>
                {% endif %}
            </div>
        </td>
</tr>
